
<div class="jumbotron">
	<iframe src="//aka.ms/azuremediaplayer?url={{stream.streamURLEncoded}}&aes=true&aestoken={{stream.accessToken}}" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>
</div>
<div class="jumbotron" style="word-wrap: break-word;">
	<ul>
	<li>jwt: {{stream.accessToken}}</li>
	<li>payload: {{stream.payload}}</li>
	<li>Stream URL: {{stream.streamURL}}</li>
	</ul>
</div>

<script>
	console.log(window.frames[0].src);
</script>